@{
    ViewBag.Title = "Sistema de Cadastro de Restaurantes";
}

<br />
<br />
<div class="panel-title text-center">
    <img src="~/images/sandwich.jpg" />
    <h1>Sistema de Cadastro de Restaurantes</h1>
</div>