@model IEnumerable<WebAppRestaurante.Models.Prato>
@using System.Globalization;
@using System.Threading;
<h2>Pratos</h2>

<p>
    <a href="/Pratos/Create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar Novo Prato</a>
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th style="width:50px"></th>
        <th style="width:50px"></th>
        <th>
            Restaurante
        </th>
        <th>
            Prato
        </th>
        <th>
            Preço (R$)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            <a href="/Pratos/Delete/@item.PratoID" style="color:red"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
        <td style="text-align:center">
            <a href="/Pratos/Edit/@item.PratoID" style="color:blue"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurante.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @{ 
                string preco = item.Preco.ToString();

                if (preco.Length == 0)
                {
                    preco = "0,00";
                }
                else
                {
                    if (preco.Length < 3)
                    {
                        preco = preco + ",00";
                    }
                    else
                    {
                        preco = preco.Substring(0, (preco.Length - 2)) + "," +  preco.Substring((preco.Length - 2), 2);
                    }
                }

                double dblPreco = Convert.ToDouble(preco);
                CultureInfo ci = new CultureInfo("pt-br");
                preco = dblPreco.ToString("C", ci);
            }
            @preco
        </td>
    </tr>
}

</table>
